<div class="row">
  <div class="col-2">
<product-filter [category]="category"></product-filter>
</div>
<div class="col-1"></div>
  <div class="col">
      <div class="row">
          <ng-container  *ngFor="let p of filtredproducts; let i = index" >
              <div >
                <product-card [product]="p" [shopping-cart]="cart"></product-card>
              </div>
              <!--<div *ngIf="(i+1)%2 ===0" class="w-100"></div>-->
          </ng-container>
        </div>
  </div>
</div>

