<div class="container">
<h1>Shopping Cart</h1>
  <p>
  You have {{shoppingCartItemCount}} items in your shopping cart. 
  <button *ngIf="Totalprice>0"class="btn btn-secondary btn-sm" (click)="clearCart()">
      Clear Shopping Cart
    </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th class = "thumbnail"></th>
        <th class="text-left" >Product</th>
        <th class="text-center"style="width:20%">Quantity</th>
        <th class="text-right" >Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of res">
        <td><div class="thumbnail"[style.backgroundImage]="'url('+prod.product.imageUrl+')'" ></div>
        <td>
          {{prod.product.title}}
        </td>
        <td>
            <div >
                <div class="row no-gutters">
                    <div class="col-2">
                        <button (click)="removeFromCart(prod.product)"
                        class="btn btn-secondary btn-block">-</button>
                    </div>
                    <div class="col text-center"style="">
                        {{ prod.quantity }} in cart
                    </div>
                    <div class="col-2">
                        <button class="btn btn-secondary btn-block"(click)="addToCart(prod.product)">+</button>
                    </div>
                </div>
              </div>
        </td>
        <td class="text-right">
          {{prod.quantity*prod.product.price | currency:'USD':symbol}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <th>Total</th>
      <th></th>
      <th></th>
      <th class="text-right">{{Totalprice | currency:'USD':symbol}}</th>
    </tfoot>
  </table>
  <a *ngIf="Totalprice>0"class="btn btn-primary" routerLink="/check-out">Check Out</a>

</div>