/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';

body { padding-top: 80px; 
background-image: url("https://img.freepik.com/free-photo/fabric-textured-background_53876-14852.jpg?size=626&ext=jpg");
background-repeat: repeat;
color: white;
}
.table{
    color: white;
    text-shadow: 1px;
    font-weight: bold;
}
.a{
    color: white;

}
.a:hover{
    color:brown;
}
.card-body{
    color:black;
}