
<h2>Shipping</h2>
<div class="row">
  <div class="col-6">
    <form #f="ngForm">
      <div class="form-group">
        <label for="">Name</label>
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for=""></label>
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>
      <button 
        (click)="placeOrder()"
        class="btn btn-primary" [disabled]="!f.valid">Place Order</button>
    </form>
  </div>
  <div class="col-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Order Summary</h5>
        <p class="card-text">You have {{totalQuantity}} items in your shopping cart</p>
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of items"class="list-group-item">
                {{item.quantity}}  x  {{item.product.title}}
                <div class="float-right">
                    {{item.totalprice | currency:'USD':symbol}}
                </div>
            </li>
            <li class="list-group-item font-weight-bold">
                Total
                <div class="float-right">
                    {{totalPrice | currency:'USD':symbol }}
                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
