<div class="sticky-top">
    <div  class="list-group">

        <a routerLink="/" [class.active]="!category" class="list-group-item list-group-item-action">All Categories</a>
        
        <a *ngFor="let c of categories$" 
        class="list-group-item list-group-item-action"
        routerLink="/" [queryParams]="{category: c.key}"
        [class.active]="category === c.key"> 
        {{c.name}}
        </a>

    </div>
</div>