.card {
    margin-bottom: 4rem;
    height: 20rem;
    width: 15rem;
    margin-right:6rem;
    background-color:rgb(64, 64, 64);
}
.card-footer {
    padding: 0;
    background-color:rgb(64, 64, 64);
}
.card-footer button{
    cursor: pointer;
    background-color:rgb(8, 173, 8);
    color:white;
}
.card-body {
    background-color:rgb(64, 64, 64);
    color:white;
}