<div class="row">
    <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group">
                        <label for="title">Title</label>
                            <input #title="ngModel" required [(ngModel)]="product.title" name="title" id="title" type="text"class="form-control" >
                            <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                                Title is required !
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group-prepend"> 
                                <span class="input-group-text">$</span>
                                <input #price="ngModel" required [(ngModel)]="product.price" name="price"id="price" type="number"class="form-control" [min]="0">
                                
                            </div>
                        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                            <div *ngIf="price.errors.required">Price is required !</div> 
                            <div *ngIf="price.errors.min">Price should be 0 or higher !</div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="category">Category</label>       
                               <select #category="ngModel" required [(ngModel)]="product.category" name="category"id="category" class="form-control" >
                                <option value=""></option>
                                <option *ngFor="let c of categories$" [value]="c.key">
                                    {{c.name}}
                                </option>
                                </select>
                                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                                        Category is required !
                                    </div>
                     </div>
                     <div class="form-group">
                            <label for="imageUrl">Image URL</label>
                                <input #imageUrl="ngModel" required url [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" >
                                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                                    <div *ngIf="imageUrl.errors.required"> ImageUrl is required !</div>
                                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL</div>
                
                                 </div>
                    </div>
                    <button class="btn btn-primary"[disabled]="!f.valid">Save</button>
                    <span style="padding:5px"></span>
                    <button type ="button" class="btn btn-danger"(click)="delete()">Delete</button>
                </form>
    </div>
    <div class="col-md-6">
        <product-card [product]="product"[show-actions]="false"></product-card>
    </div>
</div>
