<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p> 
    <input #query type="text" class="form-control" placeholder="Search..."(keyup)="filter(query.value)">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of filtredproducts">
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td><a [routerLink]="['/admin/products/',p.key ]">Edit</a></td>
    </tr>
    </tbody>
</table>